<configuration>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- 日志文件的路径和名称前缀 -->
			<file value="logs/log.txt" />

			<!-- 文件大小滚动 -->
			<rollingStyle value="Size" />
			<maximumFileSize value="35MB" />
			<maxSizeRollBackups value="10" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />

			<!-- 文件滚动时自动编号，而不是基于时间 -->
			<preserveLogFileNameExtension value="true" />

			<!-- 日志输出的格式 -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%class TID[%thread]%n[%level] [%date{yyyy-MM-dd HH:mm:ss,fff}]: %message%n" />
			</layout>

			<!-- 只记录INFO及以上级别日志 -->
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>

		<!-- 将日志附加到 root logger -->
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>


</configuration>
